<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Navigation</h5>
          <ul class="list-unstyled mb-0">
            <li><a routerLink="./" class="">USL Overview</a></li>
            <li><a routerLink="./" class="">Our Values</a></li>
            <li> <a routerLink="./" class="">Governance</a></li>
            <li><a routerLink="./" class="">Campus Locations</a></li>
            <li><a routerLink="./" class="">Partners</a></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Academics</h5>
          <ul class="list-unstyled mb-0">
            <li><a routerLink="./" class="">Short Courses</a></li>
            <li><a routerLink="./" class="">USL Prospectus</a></li>
            <li><a routerLink="./" class="">Tuition &amp; Fees</a></li>
            <li><a routerLink="./" class="">Scholarships</a></li>
            <li><a routerLink="./" class="">Academic Calendar</a></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Sociala</h5>
          <ul class="list-unstyled mb-0">
            <li><a routerLink="./" class="">Facebook</a></li>
            <li><a routerLink="./" class="">Twitter</a></li>
            <li><a routerLink="./" class="">YouTube</a></li>
            <li><a routerLink="./" class="">Instagram</a></li>
            <li><a routerLink="./" class="">LinkedIn</a></li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <p class="m-0">
        <a class="text-white"
           href="http://www.dspace.org/">{{ 'footer.link.dspace' }}</a>
        {{ 'footer.copyright' {year: dateObj | date:'y'} }}
        <a class="text-white"
           href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' }}</a>
      </p>
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
        <li>
          <button class="btn btn-link text-white" type="button" (click)="showCookieSettings()">
            {{ 'footer.link.cookies' }}
          </button>
        </li>
        <li *ngIf="showPrivacyPolicy">
          <a class="btn text-white"
             routerLink="info/privacy">{{ 'footer.link.privacy-policy' }}</a>
        </li>
        <li *ngIf="showEndUserAgreement">
          <a class="btn text-white"
             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' }}</a>
        </li>
        <li *ngIf="showSendFeedback$ | async">
          <a class="btn text-white"
             routerLink="info/feedback">{{ 'footer.link.feedback' }}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="coarLdnEnabled$ | async" class="notify-enabled text-white">
      <a class="coar-notify-support-route" routerLink="info/coar-notify-support">
        <img class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo'" />
        {{ 'footer.link.coar-notify-support' }}
      </a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
