<footer class="text-lg-start">
  <div class="top-footer">
    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Navigation</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="/" class="">USL Overview</a></li>
            <li><a href="/" class="">Our Values</a></li>
            <li> <a href="/" class="">Governance</a></li>
            <li><a href="/" class="">Campus Locations</a></li>
            <li><a href="/" class="">Partners</a></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Academics</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="/" class="">Short Courses</a></li>
            <li><a href="/" class="">USL Prospectus</a></li>
            <li><a href="/" class="">Tuition &amp; Fees</a></li>
            <li><a href="/" class="">Scholarships</a></li>
            <li><a href="/" class="">Academic Calendar</a></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Social</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="/" class="">Facebook</a></li>
            <li><a href="/" class="">Twitter</a></li>
            <li><a href="/" class="">YouTube</a></li>
            <li><a href="/" class="">Instagram</a></li>
            <li><a href="/" class="">LinkedIn</a></li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <p class="m-0">
        <a class="text-white"
           href="#">USL</a> 2024
        <a class="text-white"
           href="#">{{ 'footer.link.lyrasis' }}</a>
      </p>
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">
        <li>
          <button class="btn btn-link text-white" type="button" (click)="showCookieSettings()">
            Cookie Settings
          </button>
        </li>
        <li>
          <a class="btn text-white" href="info/privacy">Privacy Policy</a>
        </li>
        <li>
          <a class="btn text-white" href="info/end-user-agreement">User Agreement</a>
        </li>
        <li>
          <a class="btn text-white" href="info/feedback">User Feedback</a>
        </li>
      </ul>
    </div>
    <div class="notify-enabled text-white">
      <a class="coar-notify-support-route" href="info/coar-notify-support">
        <img class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo'" />
        Notify Support
      </a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
