<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Dspace at USL</h1>
          <p class="lead">University of Sierra Leone Research Repository. The University of Sierra Leone (USL) a public university in Sierra Leone is currently made up of three constituent colleges/campuses</p>
        </div>
      </div>
      <p><a href="https://usl.edu.sl/fbc/" target="_blank">Fourah Bay College (FBC)</a>, the first college which specialises in the Arts, Humanities, Social Sciences, Law, Pure and Applied Sciences, Engineering and Architecture, was founded on the 18th of February 1827, by the Church Missionary Society. <a href="https://usl.edu.sl/ipam/" target="_blank">IPAM</a>, an institution which trains administrators and managers. It is currently the Business arm of USL.  The Third constituent campus is the <a href="https://usl.edu.sl/comahs/" target="_blank">College of Medicine and Allied Health Sciences (COMAHS)</a>. It trains doctors, pharmacists, nurses, laboratory scientists and other allied health professionals</p>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner-illustration-of-student-using-table-with-oer-at-home.webp 2000w, assets/dspace/images/banner-half-illustration-of-student-using-table-with-oer-at-home.webp 1200w, assets/dspace/images/banner-tall-illustration-of-student-using-table-with-oer-at-home.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner-illustration-of-student-using-table-with-oer-at-home.jpeg 2000w, assets/dspace/images/banner-half-illustration-of-student-using-table-with-oer-at-home.jpeg 1200w, assets/dspace/images/banner-tall-illustration-of-student-using-table-with-oer-at-home.jpeg 768w">
    <img alt="" [src]="'assets/dspace/images/banner-illustration-of-student-using-table-with-oer-at-home.jpeg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Illustration by <a href="https://tpgroupsl.com/companies/technology/">TpISENT (SL) Limited</a></small>
</div>
